depot
	layout_version 1.0
vendor 
	tag Oracle
	title Oracle and/or its affiliates
	description "Java Enterprise System"
end

product
	tag 		sun-jaxrpc
	title		Java API for XML-based RPC
	description 	"Java API for XML-based RPC 1.1.2"
	copyright	"Oracle and/or its affiliates, All rights reserved.
Use is subject to license terms."
	revision	@jaxrpc.version@
	number		@datestamp@
	architecture	HP-UX_B.11_32/64
	vendor_tag	SUN
	machine_type	*
	os_name 	HP-UX
	os_release	*
	os_version	*
	is_locatable	true
	directory	/

	fileset
		tag		sun-jaxrpc
		prerequisite	sun-saaj
		prerequisite	sun-wscl
		prerequisite	sun-fastinfoset
		prerequisite	sun-jaxp

		file -m 0755 -t d -o root -g sys /opt/sun/bin
		file -m 0755 -t d -o root -g sys /opt/sun/share
		file -m 0755 -t d -o root -g sys /opt/sun/private
		file -m 0755 -t d -o root -g sys /opt/sun/private/share
		file -m 0755 -t d -o root -g sys /opt/sun/share/lib
		file -m 0755 -t d -o root -g sys /opt/sun/private/share/lib

		file -m 0644 -o root -g root @libdir@/jaxrpc-api.jar /opt/sun/share/lib/jaxrpc-api.jar
		file -m 0644 -o root -g root @libdir@/jaxrpc-impl.jar /opt/sun/share/lib/jaxrpc-impl.jar
		file -m 0644 -o root -g root @libdir@/jaxrpc-spi.jar /opt/sun/private/share/lib/jaxrpc-spi.jar
		file -m 0755 -o root -g root @bindir@/wscompile.sh /opt/sun/bin/wscompile
		file -m 0755 -o root -g root @bindir@/wsdeploy.sh /opt/sun/bin/wsdeploy
	end
end
