%define _topdir @build.dir@
Summary: Java API for XML-based RPC 
Name: sun-jaxrpc
Version: @jaxrpc.version@ 
Release: @jaxrpc.release@ 
License: Copyright 2004 Oracle and/or its affiliates.  All rights reserved.  Use is subject to license terms.
Group: Development/Libraries
Source: %{name}-%{version}.tar
Distribution: @prod.name@
Vendor: Oracle and/or its affiliates.
Provides: %{name}-@jaxrpc.version@-@jaxrpc.release@
Requires: sun-saaj, sun-wscl, sun-fastinfoset, sun-jaxp
BuildRoot: %{_topdir}/BUILD/%{name}-%{version}
URL: http://www.oracle.com

%description
Java API for XML-based RPC

%prep

%setup

%build

%install

%clean

%files
%attr(755,root,root) @install.prefix@/bin/wscompile
%attr(755,root,root) @install.prefix@/bin/wsdeploy
%attr(-,root,root) @install.prefix@/share/lib/jaxrpc-api.jar
%attr(-,root,root) @install.prefix@/share/lib/jaxrpc-impl.jar
%attr(-,root,root) @install.prefix@/private/share/lib/jaxrpc-spi.jar

